<!DOCTYPE html>
<html ng-app="ToDoList" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles/index.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <title>ToDoList</title>
</head>
<body ng-controller="ToDoController">
  <div class="container">
    <div class="row">
      <div class="title-todo col-md-12">
        <h1>{{frase | removeHtml}}</h1>
        <!--<p>
          {{costo | currency : 'j'}}
        </p>-->
      </div>
      <div class="body-todo col-md-12">
        <ul>
          <li ng-repeat="actividad in todo">
            {{actividad.descripcion}} -
            {{actividad.fecha | date : 'short'}}
          </li>
        </ul>
        <form ng-submit="addActividad()">
          <input type="text" ng-model="newActividad.descripcion">
          <input type="datetime-local" ng-model="newActividad.fecha">
          <input type="submit" value="Guardar Actividad">
        </form>
        <br>
        <button type="button" name="button" ng-click="clearActividad()">Limpiar</button>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="./js/angular-local-storage.js"></script>
  <script type="text/javascript" src="./js/toDoList.js"></script>
</body>
</html>
